fastapi
uvicorn
streamlit

langchain
langgraph
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq

chromadb

sentence-transformers

python-dotenv
pydantic

pandas
numpy

pytest
httpx

pypdf
tiktoken